body
html
.container
   height 100%

.main
   height 100%
   position relative
   padding-top 50px !important

.main_class
   height 100%
   position relative

.el-main
   padding 10px

.select_bar
   width 100%

.red
	color #c12d3b !important
   
.green
	color #27c173 !important


//表格
.el-table td, 
.el-table th
   padding 0 !important

.el-table td .cell, 
.el-table th .cell
   font-size 12px

//查询
.query_class
   width 100%
   margin-top 5px
   flex-shrink 0
.query_class .query_data_class
   min-height 40px

.query_class .query_items
   display inline-block
   height 40px
   padding-right 5px

.query_class .query_items span
   font-size 12px
   padding 0 5px

.query_class .input_bar
   width 100px

.query_class .input_date_bar.hms
   width 190px

.query_class .input_date_bar
   width 140px !important

//表单
.form_class
   width 400px
   margin 20px 0

.form_class .title
   color #3f4657

//按钮
.btn
   width 100%

//提示消息
.el-message
    top: 30% !important

.table_class
   height 100%
   overflow: auto

.total_class
    text-align center
    text-align: left 
.total_class .labels
    min-width 80px
    padding 10px
    display inline-block
.total_class span
.total_class strong
    display inline-block
    font-size 13px
    color #333
.total_class strong
    font-size 20px
    color #09f

.record_wrapper_class
    height 100%
    padding-bottom 60px
    position relative
    box-sizing border-box
.record_wrapper_class .record_content
    height 100%
    display flex
    flex-direction column
    
.table_class
   flex 1

.pagination
   text-align center
   height 50px
   width 100%
   position absolute
   bottom 0 