body
html
  background #f9f9f9
  height 100%

#app
  height 100%

.el-button
  width 100%

.query_class
  position relative
  margin 10px 0

.query_class .query_left
  display inline-block

.query_class .query_left .query_labels
  margin-right 10px
  margin-bottom 10px
  display inline-block

.query_class .query_left .query_labels span
  display inline-block
  line-height 30px
  font-size 14px
  padding-right 5px

.query_class .query_left .query_labels .el-input
  width 150px

.query_class .query_right
  width 400px
  display inline-block
.query_class .query_right .el-button
  width 90px
  display inline-block
.pagination_class
  margin-top 10px
  text-align center

.el-table td
.el-table th
  padding 5px 0
  font-size 12px

.query_class .query_left .query_labels span
  line-height 20px

.table_btn
  width 60px
  display inline-block

.tables
  max-height 600px
  overflow auto

.vxe-table .vxe-body--column:not(.col--ellipsis)
.vxe-table .vxe-footer--column:not(.col--ellipsis)
.vxe-table .vxe-header--column:not(.col--ellipsis)
  padding 5px
  font-size 12px
  color #909399

.vxe-table.border--full .vxe-body--column
.vxe-table.border--full .vxe-footer--column
.vxe-table.border--full .vxe-header--column
  background: #fff !important
  border: 1px solid #eee

.form_label
  width 250px

.member_details_class .el-form-item__label
  text-align right

.top_btn
  width 80px
  display inline-block
  margin-left: 10px

.exit
  width 30px
  height 30px

.el-menu
  background-color #2e3235
.el-menu span
  color #fff

.el-menu-item-group
  background #343638
  color #fff

.el-menu-item.is-active
  background #2b95ef
  color #fff
.el-menu-item
  color #d5e8f8
.el-submenu__title:hover
  background #2b95ef !important
  color #fff !important;
.el-menu-item:hover
  background #2b95ef !important
.el-submenu.is-active .el-submenu__title
  width 200px

.red
	color #c12d3b !important
.green
	color #27c173 !important

.total
  padding: 0 0 10px 0
  text-align center
.total .labels
  padding 0 20px
  display inline-block
  font-size 14px
  color #aaa
.total .labels strong 
  font-size 18px
  color #4b83e1
.total .labels strong 
.total .labels span
  display block
.el-tabs__header
  margin-bottom 10px
.el-tabs__header .el-tabs__item
  font-size 12px
  height 35px
  line-height 35px
.vxe-table .vxe-body--column.col--ellipsis
.vxe-table.vxe-editable .vxe-body--column
.vxe-table .vxe-footer--column.col--ellipsis
.vxe-table .vxe-header--column.col--ellipsis
  height 20px

.btn
  width 80px
.opr
  margin-bottom 20px