/**
 * 全局
 */
page{
	font-family: 'Arial'
}
page,
.page{
	height: 100%;
	background: #f4f5fa;
}

.custom{
	padding-top: 88upx;
}

.inner{
	height: 100%;
	box-sizing: border-box;
	padding: 20upx;
	overflow: auto;
}
.no_border_radius{
	border-radius: 0 !important
}

.bottom_page{
	padding-bottom: 100upx;
}

.bottom_btn_bar{
	width: 100%;
	height: 100upx;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 10;
	padding: 10upx 10upx 0 10upx;
	box-sizing: border-box;
	border-top: 1px solid #eee;
	background: #fff;
}

.green{
	color: #00ad90 !important;
}
.red{
	color: #d14b64 !important;
}

/**
 * 标题栏
 */
.title_bar{
	width: 100%;
	box-sizing: border-box;
	height: 88upx;
	position: fixed;
	padding: 4upx 20upx;
	left: 0;
	top: 0;
	z-index: 100000;
	background: #f4f5fa
}

.title_bar .title_bar_wrap{
	height: 100%;
	position: relative;
}

.title_bar .title_text{
	text-align: center;
	line-height: 88upx;
	font-weight: bold;
	font-size: 32upx
}

.title_bar .title_right_text{
	position: absolute;
	right: 20upx;
	top: 28upx;
}

.title_bar .back_icon{
	position: absolute;
	left: 20upx;
	top: 20upx;
}
.title_bar .back_icon .img{
	width: 40upx;
	height: 40upx;
}


/**
 * icon
 */

.icon_large,
.icon_large .img{
	width: 80upx;
	height: 80upx;
}

.icon_medium,
.icon_medium .img{
	width: 70upx;
	height: 70upx;
}

.icon_small,
.icon_small .img{
	width: 40upx;
	height: 40upx;
}

/**
 * Card 卡片
 */
.card{
	padding: 20upx 30upx;
	background: #fff;
	border-radius: 20upx;
	display: flex;
	flex-wrap: wrap;
}

/**
 * 按钮
 */
.buttons{
	background: #3562f6;
	color: #fff;
	border-radius: 10upx;
	padding: 10upx 20upx;
	font-size: 26upx;
	line-height: 2;
	text-align: center;
}
.buttons.button0{
	background: #00ad90 !important;
}
.buttons.button1{
	background: #d14b64 !important;
}

.buttons.un{
	background: #ccc;
}

/**
 * 下拉
 */
.dropdown_wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	background: rgba(0,0,0,.6);
	z-index: 10000;
}

/**
 * 登录注册
 */
.login{
	padding: 20upx;
}

.login_hd{
	text-align: right;
	line-height: 80upx;
	font-size: 24upx;
	color: #007AFF;
	margin-bottom: 80upx;
}

.login_title{
	font-size: 50upx;
	font-weight: bold;
	line-height: 80upx;
	margin-bottom: 80upx;
}

.login_form{
	padding: 20upx;
}

.login_input{
	border-bottom: 1px solid #eee;
	margin-bottom: 60upx;
	padding: 20upx 0;
	position: relative;
}

.login_input .input_bar{
	font-size: 26upx;
}

.login_input.qh{
	padding-left: 110upx;
}

.login_input .qh_bar{
	position: absolute;
	left: 0;
	top: 40upx;
}

.login_input .down_arrow{
	width: 30upx;
	height: 30upx;
	margin-left: 10upx;
}

.login_input .qh_number{
	vertical-align: top;
}

.login_input .eyes{
	width: 40upx;
	height: 25upx;
	position: absolute;
	right: 0;
	bottom: 25upx;
}

.login_form .buttons.un{
	background: #e1e1e1 !important;
}

.login_form .tips{
	font-size: 24upx;
	text-align: center;
	margin-top: 40upx;
}
.login_form .tips .block{
	margin-bottom: 40upx;
}
.login_form .tips .tips_text{
	color: #007AFF;
}

/**
 * 表单
 */
.form_label{
	padding: 20upx;
}
.form_label .name{
	line-height: 80upx;
	font-size: 24upx
}
.input_bar{
	padding: 20upx;
	font-size: 28upx
}

.input_bar_bottom{
	border-bottom: 1px solid #eee;
}

/**
 * 二维码
 */

.qrcode{
	border: 1px solid #eee;
	text-align: center;
	height: 400upx;
}

.qrcode .tips{
	margin-top: 140upx;
	margin-bottom: 40upx;
	color: #333;
	font-size: 30upx
}

.qrcode .light{
	font-size: 28upx;
	color: #aaa;
}