page{
	background: #f8fbfd
}

.custom_header{
	width: 100%;
	height: calc(88upx + var(--status-bar-height));
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: var(--status-bar-height);
	z-index: 10000000;
}
.custom_header_main{
	position: relative;
}


.inner_box{
	padding: 20upx;
	background: #fff;
	border-radius: 20upx;
	box-shadow: 0 0 20upx 0 rgba(0,0,0,.1);
}

.product{
	padding: 10upx 20upx 20upx;
}
.product_label{
	padding: 20upx;
	background: #fff;
	margin-bottom: 20upx;
	border-radius: 20upx;
	position: relative;
	box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
}
.product_label .sub{
	padding-left: 10upx;
	font-size: 24upx;
	color: #666;
}
.product_label .profit{
	font-size: 50upx;
	color: #DD4A68;
}
.product_label .tag .u-tag{
	margin-right: 5px;
}